body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    background-image: url("../Images/Healthcare\ picture.jpg");
    background-size: cover;
}

h1{
    color:white;
    text-align: center;
}

h2{
    color:#e73c3c;


}

.content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}