/* Style for the top-left menu button */
.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
}

.menu-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e74c3c; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.menu-button:hover {
  background-color:  #c0392b; 
}


/* General body styling */
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #2C3E50;
  padding: 20px;
  border-radius: 10px;
}

body {
  background-image: url("../Images/Healthcare\ picture.jpg");
  background-size: cover;

}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="submit"] {
  width: auto;
  background-color: #E74C3C;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: block;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #C0392B;
}

h1 {
  text-align: center;
  color: #E74C3C;
}

#results {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}

.data-info {
  background-color: #1b2b34;
  color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.data-info h2 {
  color: #ee6c4d;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th, .info-table td {
  border: 1px solid #f9f9f9;
  padding: 8px 12px;
  text-align: left;
}

.info-table th {
  background-color: #ee6c4d;
  color: #f9f9f9;
  font-weight: bold;
}

.info-table tr:nth-child(even) {
  background-color: #324c5c;
}

.info-table tr:nth-child(odd) {
  background-color: #2b3e4a;
}

.info-table tr:hover {
  background-color: #3a5368;
}

.info-links {
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
}

.info-links h3 {
  color: #ee6c4d;
  font-family: 'Arial', sans-serif;
  font-size: 22px;
}

.info-links ul {
  list-style-type: none;
  padding-left: 0;
}

.info-links ul li {
  margin-bottom: 10px;
}

.info-links ul li a {
  color: #f9f9f9;
  text-decoration: none;
  font-size: 16px;
}

.info-links ul li a:hover {
  text-decoration: underline;
}